---
layout: layouts/base.njk
---
<link href="{{ '/assets/css/post.css' | url }}" rel="stylesheet" />
<article class="post-entry">
  <header>
    <h1>{{ page.title | escape }}</h1>
    <time datetime="{{ page.date }}">{{ page.date | postDate }}</time>

    {% if tags %}    
    <ul>
        {% for tag in tags | exclude("post") %}
        <li><a href="/tags/{{ tag }}">#{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

  </header>
  {{ content | safe }}
</article>
