@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive_VF_1.085.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZtNature-Bold';
    src: url('../fonts/ZTNature-Bold.woff2') format('woff2') ;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZtNature-Medium';
    src: url('../fonts/ZTNature-Medium.woff2') format('woff2') ;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZtNature-Regular';
    src: url('../fonts/ZTNature-Regular.woff2') format('woff2') ;
    font-weight: normal;
    font-display: swap;
}
