/*
* 
* Global 
*
*/

:root {
    color-scheme: light dark;
    --color-main: light-dark(#B94700, #f2f2f2);
    --color-secondary: light-dark(snow, darkslategray);    
    --color-text: light-dark(#222, LightSteelBlue);

    --color-background-page: var(--color-secondary);
    --color-text-link: light-dark(oklch(from var(--color-main) 57% c h), PaleTurquoise);
    --color-text-highlight: light-dark(#00B5BA, lavender);

    --font-content: 'Archivo-Regular';
    --font-heading-major: 'Recursive';
    --font-heading-minor: 'ZtNature-Medium';
    --font-fallback: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
[data-theme="light"] {
    color-scheme: light;
    transition: all 0.2s ease-in-out;
}
[data-theme="dark"] {
    color-scheme: dark;
    transition: all 0.2s ease-in-out;
}



body {
    background-color: var(--color-background-page);
    color: var(--color-text);
    font-family: var(--font-fallback);
    line-height: 1.5;
    font-size: var(--step--1);
}

h1, h2, h3 {
    font-family: var(--font-heading-major), var(--font-fallback);
    font-weight: 720;
    line-height: 1.25;
    color: var(--color-main);
    margin: 0;
}
h4, h5, h6 {
    font-family: var(--font-heading-minor), var(--font-fallback);
    font-weight: inherit;
    margin: 0;
}
p, ul, ol {
    font-family: var(--font-content), var(--font-fallback);
    max-width: 62ch;
}
small {
    font-size: 0.75em;
}
h1 {
    font-size: var(--step-2);
    margin: 0;
    margin-block-end: var(--space-l);
}
h2 {
    font-size: var(--step-1);
    margin-block-end: var(--space-m);
}
h3 {
    font-size: var(--step-0);

    margin-block-end: var(--space-s);
}
ul:not([role='list']), ol:not([role='list']){
    /* list-style-position: inside;*/
    padding-inline-start: 0; 
    list-style: none;
}

hr {
    border: none;
    border-bottom: solid 0.1rem #333;
}

header, footer, main, article, footer {
    /* margin: 0 auto;
    width: 100%;
    max-width: 75rem; */
    margin: var(--space-m) var(--space-s) var(--space-m) var(--space-xl);
}

a {
    text-underline-offset: .2em;
    text-decoration-thickness: .05em;
    &:link, &:visited {
        color: var(--color-text-link);
    }
    &:hover, &:active {
        opacity: 0.7;
    }
}

p {
    & > a {
        &::after {
            content: '\0020\2b62';
        }
        &[href^="http"] {
            &::after {
                content: '\0020\2b67';
            }   
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.featured {
    font-size: var(--step-0);
}