header {
    display: flex;
    align-items: center;
    & > a {
        display: flex;
        align-items: center;
        & > picture img {
            max-width: 3rem;
            width: auto;
            border-radius: 3rem;
            border: solid 0.1rem rgb(0 0 0 / 0.5);
        }
        & > span {
            margin-inline-start: 0.5rem;
        }
    }
}