
/*
* 
* Header 
*
*/

header {
    display: flex;
    align-items: center;
    & > a {
        display: flex;
        align-items: center;
        & > picture img {
            max-width: 3rem;
            width: auto;
            border-radius: 3rem;
            border: solid 0.1rem rgb(0 0 0 / 0.5);
        }
        & > span {
            margin-inline-start: 0.5rem;
        }
    }
    nav {
    margin-inline-start: auto;
    margin-inline-end: 0;
    ul {
        list-style: none;
        display: flex;
        margin: 0;
        li:not(:last-child) {
            margin-inline-end: 1em;
        }
    }
}
}


