
/*
* 
* Header 
*
*/

header {
    display: flex;
    align-items: center;
    & > a {
        display: flex;
        align-items: center;
        & > picture img {
            max-width: 3rem;
            width: auto;
            border-radius: 3rem;
            /* border: solid 0.1rem rgb(0 0 0 / 0.5); */
        }
        & > span {
            margin-inline-start: 0.5rem;
        }
    }
    nav {
    margin-inline-start: auto;
    margin-inline-end: 0;
    display: flex;
    align-items: center;
    ul {
        list-style: none;
        display: flex;
        margin: 0;
        li { 
            &:not(:last-child) {
            margin-inline-end: 1em;
            }
        }
    }

    button[data-toggle] {

        border: none;
        background-color: var(--color-text-link);
        margin-inline-start: 1em;
        display: block;
        height: var(--space-s);
        width: auto;
        aspect-ratio: 1 / 1;
        mask-size: contain;
        cursor: pointer;

        /* &::before {
            display: block;
            color: var(--color-text-link);
        } */
        &.light {            
            mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun light"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>');                    
        }
        &.dark {
            mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon dark"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>'); 
        }
        
    }
}
}


