---
title: About
layout: layouts/home
tags: _about
page:
  title: about
  description: about page
---

<h1>About</h1>

<p>
  multilingual skeleton template for
  <a href="https://www.11ty.dev/">eleventy</a>.
</p>

<p>
  ESO, CC BY 4.0 <https://creativecommons.org/licenses/by/4.0>, via Wikimedia
  Commons
</p>
