---
title: Homepage
layout: layouts/home
tags: _home
page:
  title: Homepage
---

<h1>Hello there!</h1>

<p class="featured">Welcome. This is my personal website.</p>

<p class="featured">I'm a webdesigner and front-end developer with a background in design. In this website I'm going to write about stuff, thoughts and maybe little coding here and there.
</p>

<hgroup>
  <h2>Latest</h2><a href="/feed.xml">/RSS</a>
</hgroup>
<ul class="featured article-list">
{%- for post in collections.post | reverse | limit(3) -%}
  <li class="article-item">        
        <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>                                                                                    
        <p class="article-meta">
          <time datetime="{{ post.date }}">{{ post.date | postDate }}</time>
        </p>   
  </li>
{%- endfor -%}
</ul>

<p><a href="/posts">All posts</a></p>
<h2>Projects</h2>
<ul class="featured article-list projects">
{%- for project in projects | reverse | limit(3) -%}
  <li class="article-item">        
        <h3>{{ project.name }}</a></h3>     
        
        <img src="{{ project.img.url | escape }}" alt="{{ project.img.alt }}"/>                                                                          
        <p class="article-meta">
          {# <time datetime="{{ project.date }}">{{ project.date | postDate }}</time> #}
          <span class="year">{{ project.year }}</span></br>
          <span>{{ project.description }} </span></br>
          <a href="{{ project.url | escape }}" >repository</a>         
        </p>   
  </li>
{%- endfor -%}
</ul>
